[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-themes"]
	path = bundle/vim-themes
	url = git@github.com:mswift42/vim-themes.git
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
